
/* Your CSS Code here. *//* Styling for the container */
.main {
  width: 250px;
  background-color: purple;
  border-left: 5px solid green;
  padding: 10px;
}

/* Styling for the heading */
#heading {
  font-size: 20px;
  color: white;
  text-decoration: underline;
}
